input {
    keyboard {
        xkb {
            layout "us,fr"
	        options "grp:win_space_toggle, compose:ralt,ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
}
